<style type="text/css">
    .alert {
        padding: 15px;
        background-color: #201C4E;
        color: white;
    }

    #tokhoi {
        border-radius: 3px;
        display: inline; 
        background-color: #9c5c94;
        color: #FFFFFF;
        padding: 1px;
    }
</style>
<table bgcolor="#F1F1F1" border="0" cellpadding="0" cellspacing="0" style="background:#F1F1F1;width: 100%; height: 100%; font-size: 14px;line-height: 1.5;border-collapse: collapse;">
<tbody>
    <tr>
        <td>
        <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="background: #FFFFFF; width:100%;max-width:600px;">
            <tbody>
                <tr>
                    <td bgcolor="#F1F1F1" style="height: 33px; padding: 8px 20px; vertical-align: bottom; width: 580px; background: #F1F1F1;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 0px; padding: 0px 0px; color: #FFFFFF; border-bottom: 5px solid #2d4a5a;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="padding: 22px 40px; border: 1px solid #DDDDDD; border-top: none;">
                    <p><span style="color: #2d4a5a;"><span style="font-family:courier new,courier,monospace;">​​</span><span style="caret-color: #2d4a5a; color: #2d4a5a;">C&oacute; kh&aacute;ch mới cần tư vấn về <span style="color:#9c5c94;"><strong>&quot;Ch&acirc;n M&agrave;y&quot;</strong>:</span> </span></span></p>

                    <ul>
                        <li><span style="color: #2d4a5a;">T&ecirc;n: </span><span style="color:#9c5c94;"><strong>REPLACE_USER_NAME</strong></span></li>
                        <li><span style="color: #2d4a5a;">Điện Thoại: </span><span style="color:#9c5c94;"><strong>REPLACE_USER_PHONE</strong></span></li>
                        <li><span style="color: #2d4a5a;">Nội Dung: </span><span style="color:#9c5c94;"><strong>REPLACE_USER_CONTENT</strong></span></li>
                    </ul>

                    <p>&nbsp;</p>
                    <p><span style="color: #2d4a5a;">Vui l&ograve;ng reply lại email l&agrave; <span style="border-radius: 3px; display: inline; background-color: #9c5c94; color: #FFFFFF; padding: 1px;">&nbsp;&quot;Đ&atilde; Tư Vấn&quot;&nbsp;</span> để tr&aacute;nh tư vấn lặp lại.</span></p>
                    <p><span style="color:#2d4a5a;">Thanks, Moc Xanh Studio Team</span></p>
                    </td>
                </tr>
            </tbody>
        </table>

        <p style="text-align:center;color:#aaabbb;font-size:8pt">&copy; 2023. Moc Xanh Studio</p>
        </td>
    </tr>
</tbody>
</table>
